USE [master]
GO
/****** Object:  Database [EducacionAmbiental]    Script Date: 24/06/2025 10:46:24 p. m. ******/
CREATE DATABASE [EducacionAmbiental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EducacionAmbiental', FILENAME = N'D:\SQL Server 2022\Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EducacionAmbiental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EducacionAmbiental_log', FILENAME = N'D:\SQL Server 2022\Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EducacionAmbiental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EducacionAmbiental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EducacionAmbiental]
GO
/****** Object:  Table [dbo].[DIM_ACTIVIDAD]    Script Date: 24/06/2025 10:46:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_ACTIVIDAD](
	[ID_Actividad] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NULL,
	[Descripcion] [text] NULL,
	[Recurso] [varchar](200) NULL,
	[Numero] [int] NOT NULL,
	[ProgresoInicial] [int] NOT NULL,
	[ProgresoMeta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AA_Numero] UNIQUE NONCLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_CATEGORIA]    Script Date: 24/06/2025 10:46:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CATEGORIA](
	[ID_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMENSION_DOCENTE]    Script Date: 24/06/2025 10:46:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSION_DOCENTE](
	[ID_Docente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[Correo] [varchar](100) NULL,
	[Contraseña] [varchar](100) NULL,
	[Curso] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Docente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMENSION_MODULO]    Script Date: 24/06/2025 10:46:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSION_MODULO](
	[ID_Modulo] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NULL,
	[Descripcion] [text] NULL,
	[Nivel] [varchar](50) NULL,
	[ID_Docente] [int] NOT NULL,
	[ID_Categoria] [int] NOT NULL,
	[ID_Actividad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMENSION_PROGRESO]    Script Date: 24/06/2025 10:46:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSION_PROGRESO](
	[ID_Progreso] [int] IDENTITY(1,1) NOT NULL,
	[Porcentaje] [decimal](5, 2) NULL,
	[FechaInicio] [date] NULL,
	[FechaActualizada] [date] NULL,
	[Titulo] [varchar](100) NULL,
	[Subtitulo] [varchar](100) NULL,
	[Descripcion] [varchar](255) NULL,
	[ID_Docente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Progreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMENSION_USUARIO]    Script Date: 24/06/2025 10:46:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSION_USUARIO](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[Correo] [varchar](100) NULL,
	[Contraseña] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HECHOS_RENDIMIENTO]    Script Date: 24/06/2025 10:46:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECHOS_RENDIMIENTO](
	[ID_Rendimiento] [int] IDENTITY(1,1) NOT NULL,
	[NivelAcademico] [varchar](50) NULL,
	[Porcentaje_de_Pasar] [decimal](5, 2) NULL,
	[Porcentaje_de_Quedarse] [decimal](5, 2) NULL,
	[FechaEvaluada] [date] NULL,
	[ProgresoGlobal] [decimal](5, 2) NULL,
	[ID_Usuario] [int] NOT NULL,
	[ID_Progreso] [int] NOT NULL,
	[ID_Modulo] [int] NULL,
	[ID_Actividad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rendimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIM_ACTIVIDAD] ADD  DEFAULT ((0)) FOR [ProgresoInicial]
GO
ALTER TABLE [dbo].[DIM_ACTIVIDAD] ADD  DEFAULT ((0)) FOR [ProgresoMeta]
GO
ALTER TABLE [dbo].[DIMENSION_MODULO]  WITH CHECK ADD FOREIGN KEY([ID_Actividad])
REFERENCES [dbo].[DIM_ACTIVIDAD] ([ID_Actividad])
GO
ALTER TABLE [dbo].[DIMENSION_MODULO]  WITH CHECK ADD FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[DIM_CATEGORIA] ([ID_Categoria])
GO
ALTER TABLE [dbo].[DIMENSION_MODULO]  WITH CHECK ADD FOREIGN KEY([ID_Docente])
REFERENCES [dbo].[DIMENSION_DOCENTE] ([ID_Docente])
GO
ALTER TABLE [dbo].[HECHOS_RENDIMIENTO]  WITH CHECK ADD FOREIGN KEY([ID_Modulo])
REFERENCES [dbo].[DIMENSION_MODULO] ([ID_Modulo])
GO
ALTER TABLE [dbo].[HECHOS_RENDIMIENTO]  WITH CHECK ADD FOREIGN KEY([ID_Progreso])
REFERENCES [dbo].[DIMENSION_PROGRESO] ([ID_Progreso])
GO
ALTER TABLE [dbo].[HECHOS_RENDIMIENTO]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[DIMENSION_USUARIO] ([ID_Usuario])
GO
ALTER TABLE [dbo].[DIM_ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [CK_AA_Numero] CHECK  (([Numero]>=(1) AND [Numero]<=(8)))
GO
ALTER TABLE [dbo].[DIM_ACTIVIDAD] CHECK CONSTRAINT [CK_AA_Numero]
GO
USE [master]
GO
